alembic
blinker
click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn
